.education__class-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 60px;

	
}
.education__class {
	max-width: 270px;
	text-align: center;
	padding: 0 30px 60px 0;
	&-icon img {
		border-radius: 50%;
		&:hover {
			background-color: #2D6CDF;;
		}
	}
	&-title{
		font-family: Roboto Slab;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		padding-top: 20px;
	}
	&-text {
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		color: #828282;
		padding-top: 20px;
	}
}

.status {
	background: url(../img/status.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px; 
	margin-bottom: 30px;
}
.status__inner {
	display: flex;
	justify-content: space-around;
	margin-top: 125px;
	align-items: center;
}

.status__number {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;

}

.status__text {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

.item {
	min-width: 214px;
	text-align: center;
	padding-left: 38px;
	&:last-child {
		padding-left: 0;
	}

}

.coures__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.course__item {
	display: flex;
	margin-bottom: 20px;
	
	padding-left: 10px;
	&-text {
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 22px;
		color: #828282;
		width: 226.5px;
		height: 174px;
		padding-left: 29px;
		margin-bottom: 0.5px;

	}
}

.course__item h3 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	padding-top: 36px;
	margin-bottom: 20px;
	padding-left: 29px;
}
.course__button {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	padding: 13px 16px;
	margin-left: 29px;
	border: 2px solid rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	background-color: #FAFAFA
}

.course__item-content {
	width: 285px;
	height: 330px;
	background: #FAFAFA;
}

.reviews {
	background-color: #1F5F8B;
	height: 600px;
	text-align: center;
	&__title {
		display: inline-block;
		font-family: Roboto Slab;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-top: 84px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			margin-right: -100%;
			left: -80px;
			top: 100px;
			width: 40px;
			border-bottom: 1px solid #FFFFFF;

		}
		&:before {
			content: '';
			position: absolute;
			margin-left: -100%;
			right: -80px;
			top: 100px;

			width: 40px;
			border-bottom: 1px solid #FFFFFF;
		}
	}
}

.slider__conteiner {
	margin-top: 60px;

}
.slider__item-name {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding-top: 10px;
	color: #FFFFFF;
}
.slider__item-subtitle {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	padding-top: 10px;
	color: #FFFFFF;
}
.slider__item-text {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	padding-top: 30px;
	color: #FFFFFF;
	width: 570px;
	display: inline-block;
}

.events-box {
	display: flex;
	margin-bottom: 60px;
}
.events-item {
	display: flex;
	padding-left: 20px;
}
.events__block {
	width: 270px;
	margin-left: 20px;
}
.data {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	padding-top: 15px;
	color: #828282;
	width: 100px;
	height: 100px;
	background: rgba(0, 0, 0, 0.04);
	border-radius: 50%;
}
.events__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	width: 250px;
}
.events__text {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	color: #828282;
	padding-top: 20px;
	padding-bottom: 20px;
}
.events__link {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	color: #2D6CDF;

}

.events__cards {
	display: flex;
	margin-bottom: 100px;

}
.cards__icon img {
	display: block;
}

.cards__item {
	width: 370px;
	margin-left: 30px;
}
.cards__box {
	width: 370px;
	height: 300px;
	background: rgba(0, 0, 0, 0.03);
	
}

.cards__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	width: 310px;
	padding-top: 30px;

}

.cards__data {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
	color: #828282;
	padding-top: 20px;
}
.cards__comments {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	text-align: right;
	padding-right: 54px;
	letter-spacing: 0.02em;
	color: #828282;
}
.cards__text {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	color: #828282;
	width: 310px;
	height: 132px;
	
}
.cards__title, .cards__data, .cards__text {
	margin-left: 30px;
}
.timer__section {
	background: url(../img/timer_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	margin-bottom: 40px;
}
.timer__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 100px;
}
.timer-box {
	display: flex;
	justify-content: center;
	margin-top: 60px;

}
.timer__item {
	text-align: center;
	padding-left: 30px;
}
.timer__number {

	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	padding-top: 20px;

}
.timer__col {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	display: block;
}
.timer__subtitle {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	margin-top: 60px;
}
.button__gullery {
	align-items: center;
}
.gullery {
	
	
}
.buton__gullery {
	text-align: center;
}

.buton__gullery button {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #000000;	
	border: 2px solid rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	padding: 11px 22px;
	text-align: center;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 20px;
		right: -120px;
		width: 85px;
		border-bottom: 1px solid gray;

	}
	&:before {
		content: '';
		position: absolute;
		top: 20px;
		left: -120px;
		width: 85px;
		border-bottom: 1px solid gray;
	}
}
.gullery__box {
	display: flex;
	margin-top: 40px;
	overflow: hidden;

}

.gullery__item img {
	width: 380px;
	display: block;

} 

.footer	{
	background: url(../img/footer_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 440px;
	.footer__item1{
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: 900;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #FFFFFF;
		width: 300px;
	}
}
.footer__box {
	display: flex;
	justify-content: space-between;
}
.footer__item1 {
	margin-right: 80px;
}
.footer__title {
	margin-top: 72px;
}
.footer__text {
	padding-top: 20px;
}
.author {
	padding-top: 40px;
}
.footer__item2 {
	margin-left: 53px;
	width: 147px;
}
.footer__item2 li {
	padding-bottom: 2px;

}
.footer__item2 h6 {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 900;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 72px;
}
.footer__item2 a {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;	
	letter-spacing: 0.02em;
	color: #FFFFFF;
}